.article__buttons {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.button {
    border-radius: 60px;
    font-family: $roboto;
    padding: 10px;
    margin-left: 10px;
    background-color: $nickel;
    color: $white;
}

.button:hover {
    background-color: $light-gray;
    color: $white;
}

.button:focus {
    background-color: $nickel;
    color: $white;
    border: 2px solid $light-gray;
}
